body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #4D4D4D;
}
/* disable scrollbar*/
html {
    overflow: scroll;
    overflow-x: hidden;
}

.error-sumarry {
    font-size: 20px;
    color: #b71c1c;
    font-weight: bold;
}

.validation-error {
    font-size: 15px;
    color: #b71c1c;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
/* disable scrollbar*/

.avatar {
    width: 50px;
    border-radius: 50px;
}

.logged-user-avatar {
    width: 35px;
}

.logged-user-username {
    margin-right: 10px;
}

#logged-user-avatar-menu {
    position: relative;
}

#drop-down-menu {
    position: absolute;
    top: 60px !important;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

a {
    color: #4D4D4D;
}

nav {
    font-weight: bold;
    /*height: 50px;*/
}

main {
    flex: 1 0 auto;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#loading {
    visibility: hidden;
}

#home-picture-container {
    width: 100%;
    height: 400px;
    background-image: url("trip.jpg");
    background-size: 100% 100%;
    display: inline-block;
    color: white;
    position: relative;
}

.quick-travel-search {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.quick-travel-search-input {
    border-color: #C6C6C6;
}

/* newly added trip*/

.newly-shared-trip {
    margin: 20px 15px 20px 10px;
    padding: 10px 0 10px 0;
    width: 30%;
    display: inline-block;
}

    .newly-shared-trip trip-avatar-container {
    }

    .newly-shared-trip .trip-avatar-container .avatar {
        width: 50px;
        margin-top: 10px;
    }

    .newly-shared-trip .trip-info .primary .trip-price {
        font-size: 20px;
        font-weight: bold;
    }

    .newly-shared-trip .trip-avatar-container .trip-info {
    }


.trip-info .secondary .material-icons {
    font-size: 18px;
}

.shadow-container {
    padding: 20px;
}

.trip-container {
    margin: 20px;
    padding: 20px !important;
}

    .trip-container .trip-avatar-container {
        padding: 10px;
    }

        .trip-container .trip-avatar-container .img {
            width: 65px;
        }

    .trip-container .primary {
        font-size: 20px;
    }

        .trip-container .primary .trip-price {
            font-size: 25px;
        }


/* Materilize Autocomplete styles*/
ul.autocomplete-content.dropdown-content {
    position: absolute !important;
    width: 300px !important;
    z-index: 9999;
}

.users-in-trip td {
    text-align: center;
    width: 90px;
}

    .users-in-trip td a {
        height: 30px;
        width: 30px;
        padding: 3px;
    }

.mytrip-car-image {
    width: 200px;
}

.card-title {
    font-size: 1.5vw !important;
}
