@model IEnumerable<TripBasicInfoViewModel>

<section class="row" id="deletedTrips">
    <table class="highlight">
        <thead>
            <tr>
                <th data-field="id" class="center-align">Пътуване</th>
                <th data-field="name" class="center-align">Действие</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var trip in Model)
            {
                <tr>
                    <td>
                        <div class="reported-trip-container">
                            @Html.Partial("_TripInfo", trip)
                        </div>
                    </td>
                    <td>
                        @Ajax.ActionLink("Възстанови", nameof(AdminController.RestoreTrip), new { tripId = trip.Id },
                       new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "deletedTrips" }, new { @class = "btn" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

