@model ReportedTripsViewModel

<section class="row" id="reportedTrips">
    <table class="highlight">
        <thead>
            <tr>
                <th data-field="id" class="center-align">Пътуване</th>
                <th data-field="name" class="center-align">Изтрий / Възстанови</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var trip in Model.ReportedTrips)
            {
                <tr>
                    <td>
                        <div class="reported-trip-container">
                            @Html.Partial("_TripInfo", trip)
                        </div>
                    </td>
                    <td>
                        @Ajax.ActionLink("Изтрий", nameof(AdminController.DeleteTrip), new { tripId = trip.Id },
                       new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "reportedTrips" })
                    </td>
                    <td><a class="btn">Възстанови</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>