<div class="container">
    <h2 class="center-align">пловдив - пазарджик</h2>
    <div class="row">
        <div class="col s4" style="height: 200px;border: 1px solid black; ">ttka shte e kartata</div>
        <div class="col s8" style="">
            <div>
                <span class="date" title="дата на погегляне"><i class="material-icons">today</i> 23.03.2017</span>
                <span class="time" title="час на потегляне"><i class="material-icons">query_builder</i> 18:00</span>
                <span class="seats" title="места">
                    <i class="material-icons">perm_identity</i> 3/5
                </span>
                <span><i class="material-icons" title="цена">loyalty</i> цена 5 лева</span>
            </div>
            <div>
                @Html.Partial("_userinfosummary", "pesho ivanov")
            </div>
            <div>
                <h6>описание</h6>
                <p>
                    trafasdasjdsajsdajkjksd asd
                    asdkjsadjk
                    asdkjkjasd
                    jksdakjkjlsda kljasdklj
                    klajsd ljkasljkd dasjksdakjkjlsadjklsadjklsdjlkajlksda
                    asdsadasd
                </p>
                <div>
                    <div class="chip">Tag</div>
                    <div class="chip">Tag</div>
                    <div class="chip">Tag</div>
                </div>
            </div>
            <a href="#" class="btn">запази място</a>
        </div>
    </div>
    <div class="row">
        <h5>отзиви за шофьора</h5>

        @*<div class="input-field col s7 pull-5">
                @using (ajax.beginform(nameof(homecontroller.postcomment), "home", null, new ajaxoptions
                {
                    updatetargetid = "results",
                    insertionmode = insertionmode.replace
                },
                            formmethod.post))
                {
                    @html.editorfor(m => m.content)
                    <input type="submit" class="btn" />
                }
                <div id="dynamic-content"></div>
            </div>

            <ul id="results" class="col s12">
                @html.action(nameof(homecontroller.loadcomments), "home", new { id = this.request.querystring["id"] })
            </ul>*@
    </div>
</div>