@model CarViewModel

<h5>Автомобил</h5>
<div class="valign-wrapper banner">
    <img src="@Model.ImageUrl" alt="Alternate Text" class="avatar circle banner-image" />
    <h6 class="valign">@Model.Color @Model.Name</h6>
</div>
