@using BrumWithMe.Web.Models.Shared
@model UserBannerViewModel

<div class="trip-avatar-container">
    <img src="@Model.AvataImageurl" alt="Alternate Text" class="avatar" />
    <span>@Model.FullName</span>
    <span>@Model.UserName</span>
</div>

