@model UserBannerViewModel

<h5>Шофьор</h5>
<div class="valign-wrapper banner">
    <img src="@Model.AvataImageurl" alt="Alternate Text" class="avatar circle banner-image" />
    <h6 class="valign">@Model.FullName (@Model.Rating.ToString("F2"))</h6>
</div>

