@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Блокиран";
}

<section class="container">
    <div class="row z-depth-3 shadow-container">
        <h1 class="center-align">Блокиран!</h1>
        <h5>Вашият профил а заключен от адинистратор, поради нарушаване на правилата на сайта!</h5>
    </div>
</section>
