<div id="home-picture-container">
    <div class="row">
        <div class="center-align">
            <h1>BrumWithMe</h1>
            <h4>Порталът за споделено пътуване, който предлага повече!</h4>
            @if (this.User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Dashboard", nameof(AccountController.Register), "Account", null, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Регистрация", nameof(AccountController.Register), "Account", null, new { @class = "btn" })
            }
            <section class="quick-travel-search">
                @Html.Partial("_TripQuickSearch")
            </section>
        </div>
    </div>
</div>

<div class="container">
    @Html.Action(nameof(TripController.RecentTrips), "Trip")
</div>
