<div id="home-picture-container">
    <div class="row">
        <div class="center-align">
            <h1>BrumWithMe</h1>
            <h4>Порталът за споделено пътуване, който предлага повече!</h4>
            @if (this.User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Dashboard", nameof(AccountController.Register), "Account", null, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Регистрация", nameof(AccountController.Register), "Account", null, new { @class = "btn" })
            }
            <form class="quick-travel-search">
                <div class="col l3 offset-l3">
                    <input type="text" class="quick-travel-search-input" placeholder="От">
                </div>
                <div class="col l3">
                    <input type="text" class="quick-travel-search-input" placeholder="До">>
                </div>
                <div class="col l1">
                    <input type="submit" value="търсене" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    @Html.Action(nameof(TripController.RecentTrips), "Trip")
</div>
