<div id="home-picture-container">
        <div class="row">
            <div class="center-align">
                <h1>brumwithme</h1>
                <h4>порталът за споделено пътуване, който предлага повече</h4>
                <a href="#" class="btn">как работи</a>
                <form class="quick-travel-search">
                    <div class="col l3 offset-l3">
                        <select class="quick-travel-search-input">
                            <option value="" disabled selected>от</option>
                            <option value="1">option 1</option>
                            <option value="2">option 2</option>
                            <option value="3">option 3</option>
                        </select>
                    </div>
                    <div class="col l3">
                        <select class="quick-travel-search-input">
                            <option value="" disabled selected>до</option>
                            <option value="1">option 1</option>
                            <option value="2">option 2</option>
                            <option value="3">option 3</option>
                        </select>
                    </div>
                    <div class="col l1">
                        <input type="submit" value="търсене" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>скоро споделени</h4>
        <div>
            @Html.Action(nameof(TripController.RecentTrips), "Trip")
        </div>
    </div>


    @section scripts{
        <script>
            $(document).ready(function () {
                $('select').material_select();
            });


        </script>
    }