@model IEnumerable<UserBannerViewModel>

@foreach (var user in Model)
{
    <tr>
        <td>
            <div class="reported-trip-container">
                @Html.Partial("_UserBanner", user)
            </div>
        </td>
        <td>
            @using (Ajax.BeginForm(nameof(UsersController.LockoutUser),
                            new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "user-data", InsertionMode = InsertionMode.Replace }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="userId" value="@user.Id" />
                <input type="submit" class="btn" value="Блокирай" />
            }
        </td>
    </tr>
}
