@model SearchTripViewModel
@if (Model.Data.Count() > 0)
{
    foreach (var trip in Model.Data)
    {
        @Html.Partial("_Trip", trip)
    }
    <section class="col s8 offset-s2">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            @for (int i = 0; i < Model.TotalCount; i++)
            {
                if (i % 2 == 0)
                {
                    <li class="active">
                        @Ajax.ActionLink((i / 2 + 1).ToString(),
               nameof(SearchController.LoadTrips),
               new { page = i / 2 + 1, origin = this.Model.Origin, destination = this.Model.Destination },
               new AjaxOptions
               {
                   UpdateTargetId = "result",
                   InsertionMode = InsertionMode.Replace
               })
                    </li>
                }
            }
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </section>
}
else
{
    <h2 class="center-align">Няма резултат ... :( </h2>
}
