@model SearchTripViewModel

<section class="container">
    <div class="shadow-container z-depth-3 row">
        <h3 class="center-align">Намерени пътувания</h3>
        <div class="col s12">
            @using (Ajax.BeginForm(nameof(SearchController.LoadTrips), null, new AjaxOptions
            {
                UpdateTargetId = "result",
                InsertionMode = InsertionMode.Replace
            }, new { autocomplete = "off" }))
            {
                <div class="col l3 offset-l3">
                    @Html.TextBoxFor(x => x.Origin, new { @class = "quick-travel-search-input autocomplete", placeholder = "От" })
                </div>
                <div class="col l3">
                    @Html.TextBoxFor(x => x.Destination, new { @class = "quick-travel-search-input autocomplete", placeholder = "До" })
                </div>
                <div class="col l1">
                    <input type="submit" value="търсене" class="btn">
                </div>
            }

        </div>
        <section id="result">
            @Html.Partial("_TripSearchResult", Model)
        </section>
    </div>
</section>

@section Scripts{
    @Scripts.Render("~/bundles/cities-autocomplete")
}
