@model SearchTripResultViewModel

<section class="container">
    <div class="shadow-container z-depth-3 row">
        <h3 class="center-align">Намерени пътувания</h3>
        <div class="col s12">
            @Html.Action(nameof(SearchController.Search), "Search")
        </div>
        @if (Model.Trips?.Count() > 0)
        {
            foreach (var trip in Model.Trips)
            {
                @Html.Partial("_Trip", trip)
            }
        }
        else
        {
            <h2 class="center-align">Няма резултат ... :( </h2>
        }
    </div>
</section>
