@model IndexViewModel

<section class="container">
    <section class="row z-depth-3 shadow-container">
        <h2 class="center-align">Настройки на акаунта</h2>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s5">
                    @Ajax.ActionLink("Регистрация на автомобил", nameof(ManageController.RegisterCar),
                   null,
                   new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "manage-page-content" },
                   new { @class = "teal-text text-darken-4" })
                </li>
                <li class="tab col s3">
                    @Ajax.ActionLink("Смяна на аватара", nameof(ManageController.ChangeAvatar),
                   null,
                   new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "manage-page-content" },
                   new { @class = "teal-text text-darken-4" })
                </li>
            </ul>
        </div>
        <section id="manage-page-content"></section>
    </section>
</section>


