@model IndexViewModel

<p class="text-success">@ViewBag.StatusMessage</p>
<section>
    <h4>Добавяне на кола</h4>
    @Html.ActionLink("Добавяне на кола", nameof(ManageController.RegisterCar), "Manage");

</section>

