<section class="container">
    <div class="row z-depth-3 shadow-container">
        <div class="row  teal-text text-darken-4">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6">
                        @Ajax.ActionLink("Пътувания споделени от мен",
                       nameof(DashboardController.TripsSharedByMe),
                       null,
                       new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "dashboard-container", InsertionMode = InsertionMode.Replace },
                       new { @class = "teal-text text-darken-4" })
                    </li>
                    <li class="tab col s6">
                       @Ajax.ActionLink("Пътувания, в които съм се присъединил",
                       nameof(DashboardController.TripsJoinedByMe),
                       null,
                       new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "dashboard-container", InsertionMode = InsertionMode.Replace },
                       new { @class = "teal-text text-darken-4" })
                    </li>
                </ul>
            </div>
        </div>

        <section id="dashboard-container">

        </section>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });

    </script>
}