@model DashboardViewModel
<div class="container">
    <div class="row z-depth-3 shadow-container">
        <h1>Пътувания споделени от мен</h1>

        @foreach (var trip in Model.TripsCreatedByUser)
        {
            <section id="trip-@trip.Id">
                @Html.Partial("_TripsSharedByCurrentUser", trip)
            </section>
        }
    </div>
</div>
