<section class="container">
    <div class="row z-depth-3 shadow-container">
        <div class="row  teal-text text-darken-4">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6">
                        @Ajax.ActionLink("Споделени от мен",
                       nameof(DashboardController.TripsSharedByMe),
                       null,
                       new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "dashboard-container", InsertionMode = InsertionMode.Replace },
                       new { @class = "teal-text text-darken-4" })
                    </li>
                    <li class="tab col s6">
                       @Ajax.ActionLink("Заявени",
                       nameof(DashboardController.TripsJoinedByMe),
                       null,
                       new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "dashboard-container", InsertionMode = InsertionMode.Replace },
                       new { @class = "teal-text text-darken-4" })
                    </li>
                </ul>
            </div>
        </div>
        <h3 class="center-align">Моите активни пътувания</h3>
        <section id="dashboard-container">

        </section>
    </div>
</section>
